@page
@model WebRTCRooms.Pages.RoomModel

<h2>@Model.RoomName.ToUpper()</h2>

<div id ="video-grid" class="mt-3">
    
</div>



<script>
    const ROOMNAME = "@Model.RoomName.ToString()";
</script>

<script src="~/lib/simple-peer/simplepeer.min.js" defer></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js" defer></script>

<script src="~/js/roomcall.js" defer></script>